@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

.project-container{
    margin: 4rem 0;
    position: 0;
    padding: 3rem;
}

.project-container h5{
    font-size: 2.0rem;
    
    margin-bottom: 3rem;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    
}

@media (max-width: 768px){
    .project-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}